{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	{% block container %}
    <script src="{{ STATIC_URL }}/static/js/my.js"></script>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <!-- <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div> --><br /><br />



      <div class="pagination">
        {% for contact in contacts %}
            {# Each "contact" is a Contact model object. #}
            {{ contact.username|upper }}<br />
            
        {% endfor %}
          <span class="step-links">
              {% if contacts.has_previous %}
                  <a href="?page={{ contacts.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
              </span>

              {% if contacts.has_next %}
                  <a href="?page={{ contacts.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div><br/>
      <input type='text' name='search' id='search'/></br>
        <head>
          <style type="text/css">
            html, body, #map-canvas { height: 70%; margin: 0; padding: 0;}
          </style>
          <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBd0hnU_qfih0lrrrOR9rf4tPfd6rGGzLA&sensor=false">
          </script>
          <script type="text/javascript">
            function initialize() {
              var mapOptions = {
                zoom: 10,
                center: new google.maps.LatLng(-19.8100, 85.8300)
              }
              var map = new google.maps.Map(document.getElementById('map-canvas'),
                                            mapOptions);

              setMarkers(map, beaches);
            };

            /**
             * Data for the markers consisting of a name, a LatLng and a zIndex for
             * the order in which these markers should display on top of each
             * other.
             */
            var beaches = [
              ['Bondi Beach', -19.8100, 85.8300, 4,'good0']
              
            ];

            function setMarkers(map, locations) {
              // Add markers to the map

              // Marker sizes are expressed as a Size of X,Y
              // where the origin of the image (0,0) is located
              // in the top left of the image.

              // Origins, anchor positions and coordinates of the marker
              // increase in the X direction to the right and in
              // the Y direction down.
              var image = {
                /*url: "{{ STATIC_URL }}/static/images/access.PNG",*/
                // This marker is 20 pixels wide by 32 pixels tall.
                size: new google.maps.Size(20, 32),
                // The origin for this image is 0,0.
                origin: new google.maps.Point(0,0),
                // The anchor for this image is the base of the flagpole at 0,32.
                anchor: new google.maps.Point(0, 32)
              };
              // Shapes define the clickable region of the icon.
              // The type defines an HTML &lt;area&gt; element 'poly' which
              // traces out a polygon as a series of X,Y points. The final
              // coordinate closes the poly by connecting to the first
              // coordinate.
              var shape = {
                  coords: [1, 1, 1, 20, 18, 20, 18 , 1],
                  type: 'poly'
              };
              /*var marker;*/
              for (var i = 0; i < locations.length; i++) {
                var beach = locations[i];
                var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
                var infowindow = new google.maps.InfoWindow();
                marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    /*icon: image,*/
                    shape: shape,
                    animation: google.maps.Animation.DROP,
                    title: beach[0],
                    zIndex: beach[3],
                    content: beach[4]

                });
                google.maps.event.addListener(marker, 'click', function() {
                   toggleBounce(this);
                   infowindow.setContent(this.content);
                   infowindow.open(map,this);
                });
              };
            };
            function toggleBounce(marker) {
              if (marker.getAnimation() != null) {
                marker.setAnimation(null);
              } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
                setTimeout(function() { toggleBounce(marker); } ,1000)
              }
            };
            $(document).ready(function(){
              initialize()
            });
          </script>
        </head>
  
    <div id="map-canvas"></div>

    </div> <!-- /container -->
    {% endblock %}

  </body>
</html>
